        :where([class^="ri-"])::before {
            content: "\f3c2";
        }

        body {
            overflow-x: hidden;
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            margin: 0;
            /* Header'ı sabitlediğin için içerik yukarı yapışmasın */
            background-color: #f9fafb;
            background-image: radial-gradient(circle at 50% 50%, #e6efff 0%, #f9fafb 70%);
        }

        .hero-section {
            background-image: url('product_img/SALTC0046.jpg');
            background-size: cover;
            background-position: center;
        }
/* ekle bu CSS'i global stilinize */
#mobile-close {
  z-index: 60;          /* nav z-40 ise üstte olsun */
  pointer-events: auto; /* overlay tarafından engellenmeyi önle */
}
#mobile-menu-button {
  z-index: 70; /* hamburger butonu sağlıklı çalışsın */
}
#mobile-menu {
  z-index: 50; /* gerektiği gibi ayarla */
}



    
@keyframes float-bg {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

        .video-section {
            background-color: #f9fafb;
        }

        .catalogue-section {
            background-color: #f0f9ff;
        }